<%- include('use/header'); -%>

<form action="/candidate" method="post">
    <label for="constituency"> Constituency </label>
    <input type="text" name="constituency" id="constituency"> <br>
    <label for="candidatename">Candidate Name </label>
    <input type="text" name="candidatename" id="candidatename"> <br>
    <label for="hisparty">PartyName </label>
    <input type="text" name="hisparty" id="hisparty">
    <button type="submit"> Submit </button>
</form>

<%- include('use/footer'); -%>