<%- include('use/header'); -%>

<button id="connectButton" >Connect</button> <br>



<label for="partynameforvoting">Vote For Your Party </label>
<input type="text" name="partynameforvoting" id="partynameforvoting">
<button id="voteButton" >Vote</button> <br>

<button id="getNetVotes">Net Votes</button> <br>

<label for="partynameforchecking">Check Votes Of Your Party: </label>
<input type="text" name="partynameforchecking" id="partynameforchecking">
<button id="checkButton" >Check Votes</button>

<%- include('use/footer'); -%>